// Palette URL: http://paletton.com/#uid=15p0C0kw0w0jyC+oRxVy4oIDfjr */
// As hex codes */
$color-primary-0: #E40045;	// Main Primary color */
$color-primary-1: #EB5B87;
$color-primary-2: #E63369;
$color-primary-3: #B00035;
$color-primary-4: #8A002A;

// As RGBa codes */
$rgba-primary-0: rgba(228,  0, 69,1);	// Main Primary color */
$rgba-primary-1: rgba(235, 91,135,.25);
$rgba-primary-2: rgba(230, 51,105,1);
$rgba-primary-3: rgba(176,  0, 53,1);
$rgba-primary-4: rgba(138,  0, 42,1);
body {
  background: $rgba-primary-1; //url("../img/background.jpg") */
  background-size: cover;
  background-attachment: fixed;
}

h1, h2 {
  color: $color-primary-4;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

#webpage {
  font-weight: bold;
  font-size:1.25em;
}

#user {
  font-style: italic;
  font-size:1.5em;
}

.you {
  box-sizing: border-box;
  width: 60%;
  margin-left: 5%;
  background-color: pink;
  color: darkred;
  font-weight: bold;
  text-align: center;
  padding: 25px 5px 25px 40%;
  border-radius: 50% 0 0 50%;
}

.me {
  box-sizing: border-box;
  width: 60%;
  margin-left: 35%;
  background-color: crimson;
  color: white;
  font-weight: bold;
  padding: 25px 40% 25px 5px;
  text-align: center;
  border-radius: 0 50% 50% 0;
}

#talkbubble {
  width: 120px; height: 80px;
  background: red;
  position: relative;
  -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
#talkbubble:before {
  content:"";
  position: absolute;
  right: 100%; top: 26px;
  width: 0; height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent; }

  #toplip {
    position: relative;
    width: 200px;
    height: 100px;
    margin: auto;
  }
  #toplip:before, #toplip:after {
    position: absolute;
    content: "";
    left: 50px; top: 50px;
    width: 140px; height:70px;
    background: crimson;
    border-radius: 9% 8% 90% 2%;
    transform: rotate(20deg);
    transform-origin: 70% 132%;
  }
  #toplip:after {
    left: 0;
    border-radius: 2% 90% 8% 9%;
    transform: rotate(-200deg);
    transform-origin :30% 38%;
  }

  #bottom {
    background: crimson;
    height: 55px;
    width: 260px;
    margin: auto;
    border-radius: 100%;
    transform: translate(-24px, -40px);
  }

.container {
  max-width: 780px;
  margin: auto;
}
.jumbotron {
  background-color: $rgba-primary-1;
  color: $color-primary-4;
  border-radius: 10px;
}
.btn-primary {
  background-color: $color-primary-0;
}
.btn-inverse {
  background-color: $color-primary-3;
  color: white;
}
.btn-default {
  background-color: $color-primary-0;
}
